.Contact{
    margin-top:10px;
    .card{
        position: relative;
        margin-top: 15px;
        i{
            position: absolute;
            top: 25%;
        }
        .right-items{
            text-align: center;
        }
    }
    
}